@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&display=swap');

*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.btn-primary{
    background: #FD6E0A;
    color: #fff;
    padding: 15px 25px;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
}
.btn-normal{
    background: transparent;
    color: #FD6E0A;
    border: 0.7px solid #FD6E0A;
    margin-left: 20px;
}
button img{
    width: 18px;
    margin: 0 5px;
}
main{
    width: 70%;
    margin: 0 auto;
}
.card{
    padding: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 31px -10px #757575;
}
/* header style */


header{
    background: #FFF8F3 ;
    background-image: url(./images/developer.png), url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: 30px , right bottom;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
}
.nav-logo{
    font-size: 45px;
    font-weight: 800;
}
.nav-logo span{
    color: #FD6E0A;
}
.nav-list ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;

}
.nav-list ul li a{
    color: #474747;
    text-decoration: none;
    font-size: 20px;

}
.nav-list ul li{
    list-style: none;
}

.pfl{
    display: flex;
    justify-content: space-between;
}
.pfl-info{
    width: 590px;
    align-self: center;
    margin-left: 230px;
}
.pfl-info h2{
    color: #474747;
    font-size: 45px;
    font-weight: 500;
}
.pfl-info h1{
    font-size: 85px;
    font-weight: 700;

}
.discretion{
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    margin: 30px 0;
}

/* about section style */


.about{
    /* width: 60%; */
    background: #fff8f3;
    padding: 80px;
    margin: 100px auto;
}
.title{
    text-align: center;
    margin: 20px 0;
    font-size: 30px;
    font-weight: 600;

}
.title-info{
    color: #757575;
    text-align: center;
    font-size: 16px;
}
.about .title-info{
    margin: 10px auto;
    width: 80%;
}
.bio-info ul{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.bio-info li{
    list-style: none;
    text-align: center;
}
.property{
    color: #757575;
    margin: 5px;
}
 .value{
    color: #474747;
    font-size: 18px;
    margin-bottom: 50px;
 }
 
 .what-i-do .title-info{
    width: 700px;
    font-size: 15px;
    margin: 0 auto;
 }
/* skill section style */

.skill{
    display: flex;
    margin: 60px 0;
    gap: 20px;
}
.skill .title-info{
    text-align: left;
    font-size: 15px;

}
.skiil-title{
    font-size: 20px;
    margin: 20px 0;
}
.skill img{
    width: 40px;
}
/* resume section style */

.resume{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.resume-title{
    text-align: center;
    margin: 100px 0;
    font-size: 28px;

}
.resume-box h1{
    color: #474747;
    margin-bottom: 20px;
    /* font-size: 32px; */
}
.resume-box h2{
    color: #474747;
    margin-bottom: 8px;
    font-size: 20px;
}
.resume-box h4{
    color: #757575;
    margin-bottom: 5px;
}
.resume-box p{
    color: #757575;
    margin: 20px 80px 40px 0;
    font-size: 14px;
}

.resume-btn{
text-align: center;
}
footer{
    background: #fff8f3;
    padding: 100px 150px ;
    display: flex;
    gap: 50px;
    margin-top: 120px;
}
.from {
    margin-left: 50px;
}
.from h2{
    margin: 30px 0;
    font-size: 30px;
}
.from input{
    padding: 20px;
    font-size: 14px;
    display: block;
    width: 400px;
    background: #fff;
    border: 0;
    border-radius:5px ;
    margin: 20px 0;
}

.from textarea{
    resize: none;
    width: 400px;
    margin-bottom: 30px;
    height: 200px;
    padding: 20px;
    border: 0;

}
.text{
    width: 50%;

}

.text h2{
    margin: 30px 0;
    font-size: 30px;
}
.text p{
    color: #474747;
    font-size: 14px;
    width: 80%;
    margin-bottom: 30px;
}
.text .soc-icon img{
    margin: 0 8px;
    width: 22px;
}













